body
  background main-color
  margin 0
  padding 0
  font-family Raleway

  #magnifier
    position relative
    width calc(100% - 100px)
    padding 50px
    text-align center
    font-size 0.8em
    color #474958
    img
      width 150px
    

  #preloader
    position fixed
    width 100%
    background rgba(0, 0, 0, 0.85)
    color #fff
    text-align center
    padding 15px
    bottom  0
    z-index 2

  #footer-landing
    position fixed
    width calc(100% - 20px)
    text-align center
    padding 10px
    bottom  0
    background #323440
    color #fff
    font-size 0.6em
    font-weight 100