.md-button
  position absolute
  width auto
  min-width 55px
  text-align center
  background-color second-color
  border-radius 28px
  cursor pointer
  font-size 0.8em
  padding 5px
  box-shadow shadow1
  @media (max-width: 514px)
    width calc(100% - 10em)
    padding 15px
    font-size 0.8em

  &:hover
    box-shadow shadow2
  
  &:active
    transform scale(0.8)
  

.light-text
  color #fff