.container
  position relative
  width 100%
  max-width 68.75rem
  margin 0 auto
  padding 0 20px
  box-sizing border-box
  height 100%

  .main
    position relative
    width 95%
    left 2.5%
    @media (max-width: 415px)
      width 100%
      left 0

  .gallery
    display flex
    flex-wrap wrap
    justify-content space-around
    padding 0.5em