.jumbo
  position relative
  background-color second-color
  height jumbo-height
  width 100%
  background-position 50%
  background-repeat no-repeat
  background-size 30rem
  @media (max-width: 760px)
    background-size 50%
    height 15rem

  .jumbo-top
    width 100%
    display inline-flex
    justify-content space-between


  img
    width 53.33px
    height 66.66px
    padding 1.15rem
    @media (max-width: 760px)
      width 35.55px
      height 44.44px

  .jumbo-text
    color #fff
    font-weight 300
    font-size 0.75em
    padding 1.15rem
    @media (max-width: 760px)
      font-size 0.5em