.modal-cont
  position absolute
  top 0
  width 100%
  background rgba(0, 0, 0, 0.65)
  z-index 4
  transform scale(0,0)
  transition all .3s

  &.active
    transform scale(1,1)
    transition all .3s

  .modal
    position fixed
    left 50%
    transform translate(-50%, -50%)
    padding 0
    border-radius 3px
    background #fff
    width 514px
    @media (max-width: 760px)
      width 95%

    .modal-header
      position absolute
      width 100%
      
      .header-layer
        position relative
        width 100%
        height 200px
        background-position (25% 25%)
        @media (max-width: 415px)
          display none
      
      .item-name
        position  absolute
        bottom 0px 
        float left
        padding 10px
        font-weight 300 
        color #fff
        font-size 1.3em
        text-shadow 1px 1px dark-text

      .header-img
        position relative
        height 200px
        width 100%
        background-color rgba(0,0,0,0.5)
      
      .header-mobile-cont
        display none
        height 80px
        margin 10px
        padding-bottom 5px
        border-bottom solid 0.25px rgba(0, 0, 0, 0.35)
        @media (max-width: 415px)
          display flex

        .header-img-mobile
          width 80px
          height 80px
          background-size contain
        
        .item-name-mobile
          flex-grow 1
          padding 10px
          font-weight 300
          span
            font-weight 500
        
      .close-button
        position relative
        width 20px 
        height 20px
        float right
        background-image url(../img/Cross@2x.png)
        background-size contain
        background-repeat no-repeat
        margin 10px
        cursor pointer
        z-index 2
        &:hover
          background-image url(../img/Cross_Dark@2x.png)
    
    .table-cont
      position relative
      top 200px
      padding 10px
      height 250px
      border-radius 3px
      background #fff
      overflow-y scroll
      @media (max-width: 415px)
        top 100px
      .table
        width 100%
        border-collapse separate
        text-align left
        thead
          @media (max-width: 415px)
            display none
          th
            font-size 0.8em
            font-weight 300
            color dark-text
            border-bottom solid 0.25px rgba(0, 0, 0, 0.35)
            padding-bottom 0.8em
            text-align left
        tbody
          .album
            display flex
            flex-direction column
            padding-top 15px
            .track
              font-weight 500
              color dark-text
              font-size 1em
            .duration
              font-weight 300
              color light-text
              font-size 0.75em

          .artist
            .album-pic
              width 50px
              height 50px
              padding-right 5px
                width 50px
                height 50px
              img 
                width 50px
                height 50px
            .track
              display flex
              flex-direction column
              padding 5px 0px 0px 15px
              font-weight 500
              font-size 0.9em

              span
                font-weight 300
                color light-text
                font-size 0.75em
                padding-top 5px
