main-color ?= #383A49
second-color = #CF4284

light-text = #7F6C6C
dark-text = #3A3B46

rem(px)
  unit(px * 0.0625, 'rem')

jumbo-height = rem(400)

shadow1 = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
shadow2 = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)