<div class="sel-item">
  <table class="table">
    <thead>
      <tr><th ng-if="$ctrl.getAttrs.source === 'album'">Tracks</th></tr>
    </thead>
    <tbody >
      <tr class="{{::$ctrl.getAttrs.source}}" ng-repeat="item in $ctrl.getAttrs.item">
        <td class="album-pic" ng-if="$ctrl.getAttrs.source === 'artist'"><img ng-src={{::item.images[2].url}} /></td>
        <td class="track">{{::item.name}}<span ng-if="$ctrl.getAttrs.source === 'artist'" >{{::$ctrl.getAttrs.years[$index].substring(0, 4)}}</span></td>
        <td class="duration" ng-if="$ctrl.getAttrs.source === 'album'">{{::$ctrl.convertMe(item.duration_ms)}}</td>
      </tr>
    </tbody>
  </table>
</div>