<div class="search-cont">
  <div class="search-box">
    <div class="search-text">
      <div class="search">
        <div class="search-input">
          <label>
            <input 
              class="search-inputs"
              ng-model="$ctrl.modelCtrl" 
              placeholder="{{$ctrl.inputAttrs.placeholderText}}" 
              type="text" />
          </label>
        </div>
      </div>
    </div>
    <div class="search-button"
      ng-click="$ctrl.bttClicked({bttAttr})">
      <md-button 
        btt-attrs="$ctrl.mdButAttrs.attrs"
        btt-style="$ctrl.mdButAttrs.style"
      />
    </div>
  </div>
</div>